[submodule "ros_bridge/src/boxer"]
	path = ros_bridge/src/boxer
	url = git@github.com:boxer-cpr/boxer.git
[submodule "ros_bridge/src/boxer_simulator"]
	path = ros_bridge/src/boxer_simulator
	url = git@github.com:boxer-cpr/boxer_simulator.git
[submodule "ros2_bridge/src/forces_pro_server"]
	path = ros2_bridge/src/forces_pro_server
	url = git@github.com:oscardegroot/forces_pro_server.git
